// Colors
$shark: #202022;
$abbey: #4c4e51;
$shuttle-gray: #5f656c;
$hit-gray: #acb5be;

$white: #fff;
$wild-sand: #f6f5f5;
$athens-gray: #eaebed;

$dodger-blue: #2199f4;
$onahau: #cce8fe;

// Media Query Breakpoint Map
$breakpoints: (
  xs: 320px,
  sm: 650px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

// Settings
$gridGap: 2rem;
$sidebar: 225px;
$percentPadding: 10%;
$row-width: rem-calc(1400);
$wrapper-width: $row-width;
$column-gutter: (
  xs: 3rem,
  sm: 4rem,
  lg: 6rem,
  xl: 8rem
);
$padding: 4rem;
